In [1]:
import  os, sys, time
import pandas as pd
from dotenv import load_dotenv
load_dotenv()
sys.path.append(os.getenv('ROOT_FOLDER'))

In [2]:
# Custom mudule
from oracle_helper import db_oracle
import mssql_helper as ms
from config import config

Read data from Oracle

In [3]:
# Create connection to Oracle
oracle_engine = db_oracle()

In [4]:
# Read data   
df = oracle_engine.execute_to_df(query= 'SELECT * FROM DWH.MAP_VIETNAM')
df

     PROVINCE  LATITUDE  LONGITUDE     SALE
0      Hà Nội   21.0245   105.8412   936568
1     Bắc Cạn   22.1333   105.8333   851907
2   Bắc Giang   21.2731   106.1947   344443
3    Bắc Ninh   21.1861   106.0763   917216
4    Cao Bẳng   22.6731   106.2500   892913
..        ...       ...        ...      ...
58   Bạc Liêu    9.2833   105.7167   729828
59     Cà Mau    9.1833   105.1500  1173615
60  Hậu Giang    9.7833   105.4708   305354
61    Long An   10.5322   106.4042   564816
62   Đồng Nai   10.9575   106.8426   368267

[63 rows x 4 columns]

Load data to MS SQL

In [5]:
# Create connection to MS SQL
mssql_engine = config.create_engine_mssql(fast_executemany=True)

In [6]:
# Load data to MS SQL
ms.mssql_upsert(engine= mssql_engine, update_data= df, table_name= 'map_vietnam', db_schema= 'data_mart', mode= 'overwrite')